---
# tasks file for waal70.homepage
- name: "Template the homepage.yml file to the role's files/ directory"
  ansible.builtin.template:
    src: homepage.yml.j2
    dest: "{{ role_path }}/files/homepage.yml"
    owner: "{{ interactive_user }}"
    group: "{{ interactive_user }}"
    mode: '0644'
    force: true
  delegate_to: localhost

- name: "Include role to deploy homepage-stack to Portainer"
  ansible.builtin.include_role:
    name: waal70.portainer
  vars:
    stack_list:
      - name: homepage
        file: homepage.yml # file is in files/ of this role
        endpointid: 14 # optional, defaults to 1

- name: "Copy over the (existing) config files to the Portainer machine"
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ homepage_target_dir }}/"
    mode: '0644'
  with_fileglob:
    - "{{ homepage_src_dir }}/*.yaml"
    - "{{ homepage_src_dir }}/*.js"
    - "{{ homepage_src_dir }}/*.css"

- name: "Return the homepage yaml back to its placeholder version"
  ansible.builtin.copy:
    src: homepage.yml.placeholder
    dest: "{{ role_path }}/files/homepage.yml"
    owner: "{{ interactive_user }}"
    group: "{{ interactive_user }}"
    mode: '0644'
    remote_src: false
    force: true
  delegate_to: localhost
