services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    # Uncomment the following lines to enable port mapping instead of using a reverse proxy
    # ports:
    #  - 3001:3000
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '*'
    volumes:
      - {{ homepage_target_dir }}:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
networks:
  default:
    external: true
    name: reverse-proxy
